/*---------------------------------------------------
GENERIC
----------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}


/*---------------------------------------------------
BASE
----------------------------------------------------*/

body{
    font: 18px/1.6 "Frank Ruhl Libre", serif;
    background-color: #07020d;
    color: #fff;
}

/*---------------------------------------------------
MISE EN PAGE
----------------------------------------------------*/

.wrapper{
    width: 1280px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}






/*---------------------------------------------------
ELEMENT
----------------------------------------------------*/






/*---------------------------------------------------
COMPONENTS
----------------------------------------------------*/
